.button {
  border: 1px solid #ff0000;
}

.boxEffect {
  width: 150px;
  height: 100px;
  border: 1px solid rgb(27, 26, 26);
  background-color: #ff0000;
  transition: all 1s linear;
}

.box1 {
  display: block;
}

.box1:hover {
  display: none;
}